@import url('https://fonts.googleapis.com/css?family=Roboto|Bebas+Neue|Bilbo|Alegreya+SC:900|Marck+Script&display=swap');

.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

/*----buttons----*/

.btn {
color: black;
cursor: pointer;
font-size: 1.2rem;
font-family: 'Bebas Neue', cursive;
}

.btn-call-us:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

/*----nav and links----*/

.navbar-brand, .navbar, .navbar-nav, .nav-link {
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  

}

.nav-bar-text {
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color:#000;
}

a:active {
  text-decoration: none;
  color: #000;
}

/*----header-----*/
.header-font {
  font-family: 'Alegreya SC', sans-serif;
  font-size: 1.9rem;
  padding: 5px 5px 5px 5px;
}

/*----main----*/

.main-bg-home {
  background: transparent url('../images/main-bg-image1.jpeg') no-repeat top center /cover;
}

.main-bg-service {
  background: transparent url('../images/main-dishwasher.jpg') no-repeat top center /cover;
}

.main-bg-contact {
  background: transparent url('../images/main-fridge.jpg') no-repeat top center /cover;
}

.main-bg {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: gold;
  padding: 0px;
  margin: 0;

}

.main-left {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 0px 0px 10px;
  font-family: 'Bebas Neue', cursive;
  color: #000000;
  vertical-align: middle;
  text-align: left;
  font-size: 1.2rem;
}

.main-right {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 0px 0px 10px;
  font-family: 'Bebas Neue', cursive;
  color: #000000;
  vertical-align: middle;
  text-align: left;
  font-size: 1.2rem;

}

.main-right-text {

  text-align: right;
  padding: 0px;
  margin-bottom: 10px;
  color: #000;
  text-align: left;
}

/* ----cards----*/

.card {

  border-radius: 0px;
  border: 0px;
  border-width: 1px ;
  border-style: solid;
  border-color: black;
}

.card-header {
  padding: 5px 0px 5px 5px;
  font-family: 'Bebas Neue', cursive;
  font-size:1.2rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: gold;
  background-color: gold;
}

}
.card-body {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: gold;
  padding: 5px 0px 5px 5px;
  font-size:1.2rem;
  text-align: center;
  background-color: rgba(11, 11, 77, 0.4);
}

.card-text {
  font-family: 'Bebas Neue', cursive;
  font-size:1.3rem;  
  padding: 5px 0px 5px 5px;
}


.card-img-top {
  width:90%;
  height:auto;
}

/*----footer copy----*/

.footer-text{
  font-family: 'Roboto', cursive;
  font-size:0.8rem;
  color: darkgray;

}